/*https://perishablepress.com/3-ways-preload-images-css-javascript-ajax/*/
body {
    margin: 0;
    padding: 0;
    background: url("nightsky.jpg") top right no-repeat;
    /*background: #4B0082;*/
    background-attachment: fixed;
    background-position: center;
    /* position: relative; */
    font-family: sans-serif;

}

.login-container {
    width: 320px;
    height: 420px;
    background: aqua;
    background-color: palevioletred;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.login-title {
    margin: 0;
    padding: 30px 0 50px;
    text-align: center;
    color: white;
    font-size: 35px;
}

.login-container input, button, a, span {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 8%;
    padding-left: 10px;
    text-decoration: none;
}

.login-container a {
    color: darkgrey;

}

.login-container span {
    padding-top: 20px;
    padding-left: 30%;
}

.login-container a:hover {
    color: antiquewhite;
}

#login-error {
    text-align: center;
    font-size: 12px;
    color: darkred;
}

.login-container input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}



.login-container button {
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;


}

.login-container button:hover {
    background: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid palevioletred;
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    width: 100px;
    text-decoration: none;

}

li a {
    color: palevioletred;
    text-decoration: none;
}

.nav-log-out {
    margin-right: 20px;
}

.sleep-logo {
    height: 20px;
    width: 20px;
}

.sleep-container {

    /* top: 50%;
    left: 50%; */
    /* margin-top: 5%;
    margin-left: 38%;



    align-items: center;
    display: flex;
    justify-content: center;
    float: left; */
    position: fixed;


    background-color: palevioletred;
    height: 500px;
    width: 500px;
    margin-left: 35%;
    margin-top: 8%;
    border: 2px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.sleep-title {
    padding: 20px 30px 10px 30px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.sleep-image {
    padding-left: 120px;
    padding-bottom: 30px;

}

.column-bt, .column-ot {
    padding-left: 50px;
    padding-bottom: 10px;
}

.bed-times {
    height:30px;
}

#bed-time, #out-time {
    width: 150px;
}

#bed-minute, #out-minute {
    width: 170px;
}

.column-bt select, .column-ot select {
    border: none;
    outline: none;
    color: #222;
    padding-left: 5px;
    letter-spacing: 0.1px;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.775rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.column-bt select:hover, .column-ot select:hover
{
    background: transparent;
}

.next-back-container {
    /*display: flex;
    flex-wrap: wrap;*/
    margin-top: 5px;

    margin-bottom: 10px;
    padding-left: 120px;
}

.next-back-container button {
    border: none;
    outline: none;
    height: 20px;
    width: 75px;
    font-size: 10px;
    background: transparent;
    color: #222;
    padding: 0.175rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.next-back-container button:hover {
    background: antiquewhite;
}

.times-to-fall, .get-out-bed {
    width: 400px;
    height: 30px;
}

.p-fall-asleep, .p-out-of {
    color: white;
    font-size:12px;
    padding-bottom: 2px;
}

.sleep-image-time {
    padding-left: 130px;
    padding-bottom: 0px;
    height:170px;

}

#yes, #somewhat, #no {
    border: none;
    outline: none;
    height: 30px;
    width: 375px;
    font-size: 10px;
    background: white;
    color: black;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;
}

#yes:hover
{
    background: palevioletred;
}

#somewhat:hover
{
    background: palevioletred;
}

#no:hover
{
    background: palevioletred;
}

#yes:focus
{
    background: palevioletred;
}

#somewhat:focus
{
    background: palevioletred;
}

#no:focus
{
    background: palevioletred;
}

#slept-well-btns {
    padding-left: 30px;
}

.sleep-image-well {
    padding-left: 170px;
    padding-bottom: 10px;
    height:170px;
}

#hold-btns{
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    gap: 5px;
    background-color: white;
    border: 2px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height:55%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;



}

.mood-btn, #gap-submit {
    border: none;
    outline: none;
    height: 30px;
    width: 80px;
    font-size: 9px;
    background: white;
    color: black;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: lowercase;
    padding: 5px, 5px, 5px, 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;

}

.mood-btn:hover {
    background: palevioletred;
}

#gap-submit {
    height: 32px;
}

#mood-input {
    margin-left: 5px;
}

#mood-entry {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    background: white;
    color: black;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    height: 20px;
    width: 170px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin-left: 150px;
    margin-bottom: 20px;
}


#gap-entry {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    background: white;
    color: black;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    height: 25px;
    width: 170px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin-left: 120px;
    margin-bottom: 20px;
}


#add-btn:hover {
    background: goldenrod;
}

#my-gaps-container {
    padding-left: 10%;
    padding-bottom: 20%;
    overflow-y: scroll;
    height: 220px;
}

.gap_length {
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 12px;
    background: white;
    color: black;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.gap_length:hover {
    background: goldenrod;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
}


.diary-table {
    width: 100%;
    background-color: black;
    color: palevioletred;
    border-collapse: collapse;

    /*border-spacing: 15px;*/

}

.diary-table td {
    text-align: center;

}

.diary-table th, td {
    padding: 10px;
    font-color: palevioletred;
}

.diary-table tr:hover {
    background-color: goldenrod;
    color: black;
}

.diary-table th, td, tr {

    border-top: 1px solid palevioletred;
    border-bottom: 1px solid palevioletred;
}

.toggle-container {
    display: flex;
    flex-direction: row;

    padding-left: 25%;


}



.toggle-container button {
    border: none;
    outline: none;
    font-size: 12px;
    background: palevioletred;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    color: white;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 2px solid #222;
    cursor: pointer;



}

.toggle-container button:hover {

    background-color: goldenrod;


}

.toggle-container p {
    color: white;
    padding-left: 20px;
    padding-bottom: 0px;

}

#charts-container {
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
}

#efficiency-container, #hours-container {
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid #fff;
  padding: 0.5rem;
  width: 200px;
  flex-grow: 1;
  color: #fff;
  padding-bottom: 100px;
}
#efficiency-container {
  margin-left: 5%;
  margin-right: 5%;

 }

#hours-container {

  margin-right: 5%;
 }

#diary-warn {
    color: white;
    padding-left: 20px;
}


#moods-container {
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
}

#moods-chart {
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid #fff;
  padding: 0.5rem;
  width: 200px;
  flex-grow: 1;
  color: #fff;
  margin-left: 5%;
  margin-right: 5%;

  padding-bottom: 100px;
}

.summary-container {
    padding-top: 10px;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

#lastweek-sef {
    width: 235px;
    height: 100px;
    float:left;
    border: 0.5px solid white;
}

#thisweek-sef {
    width: 235px;
    height: 100px;
    float:left;
    border: 0.5px solid white;
    margin-left: 20px;
}

#lastweek-title, #thisweek-title {
    padding-top: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: white;
}

#lastweek-sef-cont, #thisweek-sef-cont {
    padding-top: 60px;
    font-size: 70px;

}


.table-container {
    background-color: rgba(10, 10, 10, 0.5);
    border: 0.5px solid #fff;
    height: 400px;
    width: 900px;
    padding: 0.5rem;
    margin-left: 5.5%;
    margin-right: 5%;
    margin-top: 5%;
    padding-top: 20px;
    padding-right: 181px;
    padding-bottom: 10px;
    padding-left: 200px;


}

.sef {
    background-color: rgba(10, 10, 10, 0.5);


}

#thisweek-sef-span, #lastweek-sef-span {
    padding-right: 30px;
}

#indiv-gap-container {
    display: flex;
}

#indiv-gap-container button{
    border: none;
    outline: none;
    height: 30px;
    font-size: 18px;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;
    width: 60px;
    margin-top: 10px;

}

#indiv-gap-container button:hover {
    background: antiquewhite;
}

#gap-num {
    font-size: 20px;
    color: white;
    padding-right: 210px;
}

.gap-input-container {
  position: fixed;
  z-index: 100;
  background: black;
  color: pink;
  border-radius: 10px;
  width: 50%;
  top: 30vh;
  left: 25%;
  border: 1px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  padding-left: 5%;
  padding-top:10px;

}

@keyframes fade-slide-in {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }

}

.gap-input-container.visible, .validation-container.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

#validation-list{
    display: inline-block;
    list-style-type: square;

}

#validation-list li {
    width: 100%;
}

#input-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#input-background.visible {
  display: block;
  pointer-events: all;
}

.gap-input-actions {
    display: flex;
    padding-left: 20%;
}

#input-cancel, #input-add {
    border: none;
    outline: none;
    height: 30px;
    font-size: 18px;
    background: transparent;
    color: palevioletred;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;
    width: 100px;
    margin-top: 10px;

}

#input-cancel:hover, #input-add:hover {
    background-color: palevioletred;
    color: white;
}


.gap-inputs {
    padding-bottom: 20px;
}

.dash-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.dash-wrapper > div {
    background-color: rgba(10, 10, 10, 0.5);
    padding: 1rem;
    color: white;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 1px solid white;
    margin: 10px 10px 10px 10px;

}

.last-week-container{
    grid-column-start:1;
    grid-column-end:3;
}

.this-week-container{
    grid-column-start:3;
    grid-column-end:5;
}

.sef-container{
    grid-column-start:5;
    grid-column-end:7;
    height: 250px;
}

.hours-container {
    grid-column-start:7;
    grid-column-end:9;
    height: 250px;

}


.diary-tbl-container {
   grid-column-start:1;
   grid-column-end:5;
   min-height: 500px;
}

.mood-container {
    grid-column-start:5;
    grid-column-end:9;
}

.hold-all {
    margin: 20px 20px 20px 20px;
}

#back-btn-1:hover, #next-btn-fin:hover {
    background-color: palevioletred;
}

.mood-title {
    padding: 10px 30px 30px 30px;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
}

.question-header {
    padding: 30px 30px 5px 30px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 17%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: sans-serif;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s linear;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 10%;
  border: 2px solid black;
  transition: all 0.3s linear;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  box-shadow: 0 0 0  3px goldenrod;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  box-shadow: 0 0 0  3px goldenrod;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 13px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}

.question-container {
    padding-bottom: 60px;
}

#depression-score, #anxiety-score {
    color: white;
    padding-left: 30px;
    font-size: 20px;
}

#depression-score-val, #anxiety-score-val {
    font-size: 25px;
}

progress {
  border-radius: 7px;
  margin-left: 30px;
  height: 50px;
  width: 400px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: goldenrod;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba( 0, 0, 0, 0.8 );
}
progress::-moz-progress-bar {
  /* style rules */
}