{% extends "layout.html" %}
{% block main %}
    <div class="dash-wrapper">
        <div class="last-week-container">
            <div id="lastweek-title">Last Week's Sleep Efficiency Score
                    <div id ="lastweek-sef-cont">
                        <span id="lastweek-sef-span"> {{sef_last}}</span>
                    </div>
        </div>
        </div>
        <div class="this-week-container">
            <div id="thisweek-title">This Week's Sleep Efficiency Score
                    <div id ="thisweek-sef-cont">
                        <span id="thisweek-sef-span"> {{sef_this}}
                            <script>
                                const lastWeekSpan = document.getElementById("lastweek-sef-span");
                                const thisWeekSpan = document.getElementById("thisweek-sef-span");

                                const lwValue = parseFloat(lastWeekSpan.innerHTML);
                                const twValue = parseFloat(thisWeekSpan.innerHTML);

                                twValue > lwValue ? thisWeekSpan.style.color = "green" : (twValue < lwValue ? thisWeekSpan.style.color = "red" : "orange");

                            </script>
                        </span>
                    </div>
                </div>
            </div>

        <div class="sef-container" id="sef-container">
            <div id="lastweek-title">Sleep Efficiency Over Time
            <script>
                    let efficiencyData = JSON.parse('{{ efficiency_data | tojson | safe}}');
                    const efficiencyChart = document.getElementById("sef-container");
                    const efficiencyColor = 'rgb(218,165,32)';
                    const layout = {
                        autosize: true,

                        paper_bgcolor: 'rgba(0,0,0,0)',
                        plot_bgcolor: 'rgba(0,0,0,0)',
<!--                        title: {-->
<!--                            text: 'Sleep Efficiency Over Time',-->
<!--                            font: {-->
<!--                                color: '#FFFFFF',-->
<!--                                size: 12-->
<!--                            }-->
<!--                            },-->
                        showlegend:false,
                        yaxis: {color: '#FFFFFF',
                                range: [0, 100],
                                gridcolor: "rgba(255, 255, 255, 0.3)"},
                        xaxis: {
                            color: '#FFFFFF',
                            gridcolor: "rgba(255, 255, 255, 0.3)",
                            autorange: true,
                            tickfont: {
                                size: 10,
                            },
                            rangeselector: {buttons: [
                                   {count: 1,
                                    label: '1m',
                                    step: 'month',
                                    stepmode: 'backward'
                                   },
                                {step: 'all'}
                                ]}

                            }
                        };

                    function createPlotlyTrace(x, y, color, name, l_width, fill=true) {

                        if(fill) {
                            tr = {
                                x: x,
                                y: y,
                                mode: 'bar',
                                name: name,
                                fill: 'tozeroy',
                                line: {shape: 'spline',
                                       color: color,
                                       width: l_width},
                                type: 'scatter'
                            };}
                        else {
                            tr = {
                                x: x,
                                y: y,
                                mode: 'bar',
                                name: name,
                                line: {shape: 'spline',
                                       color: color,
                                       width: l_width},
                                type: 'scatter'
                            };
                        }
                        return tr;
                    };
                    let xaxis = [];
                    let yaxis = [];

                    function getAxes(data) {
                        for(let i of data) {
                            xaxis.push(i.created_date)
                            yaxis.push(i.sleep_efficiency);
                        }
                    };

                    let target = 70;
                    let targetYaxis = [];



                    getAxes(efficiencyData);

                    for(let i = 0; i < xaxis.length; i++) {
                        targetYaxis.push(target);
                    }

                    console.log(targetYaxis);

                    let targetColor = 'rgb(219,112,147)';

                    let efficiencyTrace = createPlotlyTrace(xaxis, yaxis, efficiencyColor, 'SEF score', 2);
                    let efficiencyTargetTrace = createPlotlyTrace(xaxis, targetYaxis, targetColor, 'SEF target', 1, fill=false);

                    console.log(targetYaxis);
                    console.log(efficiencyTargetTrace);

                    const config = {responsive: true}
                    let plotyEfficiency = [efficiencyTrace, efficiencyTargetTrace];
                    Plotly.newPlot(efficiencyChart, plotyEfficiency, layout, config);



                </script>
        </div>
        </div>
        <div class="hours-container" id="hours-chart-container">
            <div id="lastweek-title">Hours Slept Over Time
            <script>
                let hoursData = JSON.parse('{{ hours_data | tojson | safe}}');
                    const hoursChart = document.getElementById("hours-chart-container");
                    const hoursColor = 'rgb(219,112,147)';
                    const hoursLayout = {
                        autosize: true,
                        paper_bgcolor: 'rgba(0,0,0,0)',
                        plot_bgcolor: 'rgba(0,0,0,0)',

                        showlegend:false,
                        yaxis: {color: '#FFFFFF',
                                range: [0, 10],
                                gridcolor: "rgba(255, 255, 255, 0.3)"},
                        xaxis: {
                            color: '#FFFFFF',
                            gridcolor: "rgba(255, 255, 255, 0.3)",
                            autorange: true,
                            tickfont: {
                                size: 10,
                            },
                            rangeselector: {buttons: [
                                   {count: 1,
                                    label: '1m',
                                    step: 'month',
                                    stepmode: 'backward'
                                   },
                                {step: 'all'}
                                ]}
                            }
                        };

                    function createPlotlyTrace(x, y) {
                        return {
                            x: x,
                            y: y,
                            mode: 'bar',
                            fill: 'tozeroy',
                            line: {shape: 'spline',
                                   color: hoursColor},
                            type: 'scatter'
                        }
                    };
                    let xaxisHours = [];
                    let yaxisHours = [];

                    function getAxes(data) {
                        for(let i of data) {
                            xaxisHours.push(i.created_date)
                            yaxisHours.push(i.hours_asleep);
                        }
                    };


                    getAxes(hoursData);
                    let hoursTrace = createPlotlyTrace(xaxisHours, yaxisHours);
                    const config_hours = {responsive:true}

                    Plotly.newPlot(hoursChart, [hoursTrace], hoursLayout, config_hours);
                    </script>
        </div>
        </div>
        <div class="diary-tbl-container">
            <div id="lastweek-title">My Sleep Diary
            <div class="hold-all">
            <div class="toggle-container" id="toggle-container">
                <button id="last-week-btn">Last Week</button>
                <p class="week-commencing" id="week-commencing-date">week</p>
                <button id="next-week-btn">Next Week</button>
            </div>
            <div class="hold-table">
            <table class="diary-table">
            </table>
            </div>
        </div>
        <script>
            let sleepData = JSON.parse('{{ sleep_data | tojson | safe}}');
            let wc = JSON.parse('{{ wc | tojson | safe}}');
            let toggleContainer = document.getElementById("toggle-container");
            let weekCommencingDate = document.getElementById("week-commencing-date");
            let defaultWC = wc[wc.length-1];
            let trackWC = wc.indexOf(defaultWC);


            sleepData.forEach((item) => {
                if(item.how_slept == "yes") {
                    item.how_slept = "😊";
                } else if(item.how_slept == "somewhat") {
                    item.how_slept = "😑";
                } else if(item.how_slept == "no") {
                    item.how_slept = "🙁";
                }

            });

            console.log(`SLEEP DATA ${sleepData}`);




            weekCommencingDate.innerHTML = "WC: "+defaultWC;

            function traverseWeeks(wc, direction="backwards") {
                const top = wc.length-1;

                if((direction === "backwards") && (trackWC > 0)) {
                    trackWC --;
                } else if ((direction === "forwards") && (trackWC < top)) {
                    trackWC ++ ;
                }
            }


            console.log(sleepData);
            console.log(wc);

            // need to treat WC like a DLL where we can go back and forth, we can shift and get indices, terminate if index < 0 or greater than arr.length

            function createTableHeader(tbl, data) {
                let thead = tbl.createTHead();
                let row = thead.insertRow();
                for(let key of data) {
                    let th = document.createElement("th");
                    let text = document.createTextNode(key);
                    th.appendChild(text);
                    row.appendChild(th);
                    }
                }
            function generateTable(tbl, data) {
                for(let elem of data) {
                    let row = tbl.insertRow();
                    for(key in elem) {
                        if(key === "wc") {
                            continue; }
                        else {
                            let cell = row.insertCell();
                            let text = document.createTextNode(elem[key]);
                            cell.appendChild(text);}
                    }
                }
            }

            function filterSleepData(sleepData, wc) {
                let filteredSleepData = [];
                for(let i of sleepData) {
                    if(i.wc === wc) {
                        filteredSleepData.push(i);
                    }
                }

                return filteredSleepData;
            }

            let table = document.querySelector("table");
            let data = ['Day', 'Hours Asleep', 'How I Slept', 'In Bed', 'Out of Bed', 'Sleep Efficiency']
            console.log(data);

            generateTable(table, filterSleepData(sleepData, defaultWC));
            createTableHeader(table, data);

            function removeChildNodes(elem) {
                if(elem.hasChildNodes()) {
                    while(elem.firstChild) {
                        elem.removeChild(elem.firstChild);
                    }
                }
            }

            let children = table.children;
            console.log("Children");
            console.log(children);

            //take weight out of this
            toggleContainer.addEventListener("click", (event) => {
                let action = event.target;
                if(action.id === "last-week-btn") {
                    console.log("clicked last week btn");
                    traverseWeeks(wc);


                    let newWC = wc[trackWC];
                    let filt = filterSleepData(sleepData, newWC);
                    removeChildNodes(table);

                    //let data = Object.keys(sleepData[0]);


                    console.log(children);

                    createTableHeader(table, data);

                    generateTable(table, filt);
                    weekCommencingDate.innerHTML = "WC: "+ newWC;
                } else if(action.id ==="next-week-btn") {
                    console.log("clicked next week btn");
                    traverseWeeks(wc, direction="forwards");
                    let newWC = wc[trackWC];
                    let filt = filterSleepData(sleepData, newWC);
                    removeChildNodes(table);

                    //let data = Object.keys(sleepData[0]);
                    createTableHeader(table, data);
                    generateTable(table, filt);
                    weekCommencingDate.innerHTML = "WC: "+ newWC;

                }

            }
            )


        </script>
        </div>
        </div>

        <div class="mood-container">
            <script>
                let moodData = JSON.parse('{{ mood_data | tojson | safe}}');
                let margin = {top: 10, right: 30, bottom: 40, left: 100},
                width = 460 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;
                let svg = d3.select("#my_dataviz")
                             .append("svg")
                             .attr("width", width + margin.left + margin.right)
                             .attr("height", height + margin.top + margin.bottom)
                             .append("g")
                             .attr("transform",
                                      "translate(" + margin.left + "," + margin.top + ")");

                //add sort
<!--                d3.json(moodData);-->

<!--                let x = d3.scaleLinear()-->
<!--                        .domain([0, 10])-->
<!--                        .range([0, width]);-->
<!--                svg.append("g")-->
<!--                     .attr("transform", "translate(0," + height + ")")-->
<!--                     .call(d3.axisBottom(x))-->
<!--                     .selectAll("text")-->
<!--                     .attr("transform", "translate(-10,0)rotate(-45)")-->
<!--                     .style("text-anchor", "end");-->

<!--                var y = d3.scaleBand()-->
<!--                        .range([ 0, height ])-->
<!--                         //.domain(data.map(function(d) { return d.Country; }))-->
<!--                         .padding(1);-->
<!--                svg.append("g")-->
<!--                    .call(d3.axisLeft(y))-->




            </script>
        </div>
    </div>
    {{JSGlue.include()}}
            <script src="{{url_for('static', filename='diary.js')}}"></script>
{% endblock %}